/*General styling elements for the text*/

/*For headers*/
  h1 {
    color: rgb(255, 255, 255);
    font: 3.3em "Poppy", sans-serif;
    font-weight: 900;
    padding: 10px
  }
  h2 {
    color: brown;
    display: block;
    font: 3.3em "Poppy", sans-serif;
    font-weight: 900;
    background-color: none;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
  }
    @media only screen and (max-width: 600px)
    {
        h2
        {
        font: 2.3em "Poppy", sans-serif;
        font-weight: 900;
        }
    
    }

  h3 {
    color: rgb(255, 217, 0);
    font: 25pt "Poppy", sans-serif;
    font-weight: 900;
    background-color: rgb(176, 64, 64);
    padding: 8px;
  }

  h4{
    font: 20pt "Futura PT Book", sans-serif;
    background-color: rgb(255, 217, 0);
    color:rgb(176, 64, 64);
    text-align: center;
    margin: auto;
    margin-bottom:5vw;
    display: table;
  }

  h5{
    font: 14pt "Futura PT", sans-serif;
    color: rgb(176, 176, 176);
    padding: auto;
    text-align: center;
    display: inline;
  }
 
/*For body text elements*/ 

  p {
    color:black ;
    font: 14pt "Futura PT", sans-serif;
    padding: 10px;
  }

  .text {
    color:black ;
    font: 14pt "Futura PT", sans-serif;
    padding: 10px;
  }
    @media only screen and (max-width: 1200px)
    {
      .text
      {
        font: 13pt "Futura PT", sans-serif;
      }

    }

  .emphasized{
    color: rgb(222, 23, 23);
    font: 14pt "Poppy", sans-serif;
    font-weight: 600;
  }
    @media only screen and (max-width: 1200px)
    {
      .emphasized
      {
        font: 12pt "Poppy", sans-serif;
        font-weight: 600;
      }

    }

/*Styling elements for the main page that aren't boxes*/
  main{
   margin: 0px;
  } 

  body{
   margin: 0px;
  }

  ul {
   font: "Futura PT", sans-serif;
   list-style: square;
  }

/* Styling for the header and footer bars */
  header { 
    position: sticky;
    top: 0px;
    background-color: black;
    text-align: center;
    margin: 0px;
  }  

  footer {
    position: static;
    background-color: black;
    text-align: center;
  }

/*styling for the big title portion*/
  #title {
    height: 20vw;
    min-height: 300px;
    background-image: url("galleryart/Krasner_ShatteredLight.jpg");
    display: block;
    margin: 0px;
  }

  #titlecontainer{
    display:block;
    padding: 8px;
  }

/* further styling elements for navbar */
  .navbar{
    font: 15pt "Futura PT", sans-serif;
    color: brown;
    justify-content: center;
    margin: auto;
    padding: 8px;
  }
  .navbar a:hover {
    color:red;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 3px;
  }
  .navbar a:link {
    font: 15pt "Futura PT", sans-serif;
    text-decoration: none;
    color:white;
    text-align: center;
  }

  .navbar a:visited {
    text-decoration: none;
    color: white;
    text-align: center;
    text-decoration: none;
  }

/* styling for boxes for the main body and or text elements containing the most info */
 
  /*For the larger horizontal container for the first few section*/
  .container {
    display: flex;
    height: 70vh;
    background-color: none;
    margin:10px;
    min-height: 490px;
    min-width: 390px;
  }  
    @media only screen and (max-width: 800px)
    {
      .container
      {
        display: block; 
        width: auto;
        height: fit-content;
      }

    }

/*For the containers nested inside the main container, contains the main content*/
  .subcontainer {
    flex:1; 
    background-color: rgba(171, 171, 171, 0.274);
    width: 100px;
    height: auto;
    padding: 10px;
    justify-content: center;
    min-height: 490px;
  }
    @media only screen and (max-width: 1000px)
    {
      .subcontainer
      {
      display: block;  
      width: auto;
      height: fit-content;
      }

    }

/*Further styling elements for the top two containers of the page*/ 

  .top{
    display: flex;
    height: fit-content;
  }
    @media only screen and (max-width: 1000px)
    {
      .top
      {
        display: block; 
        width: auto;
        height: fit-content;
      }

    }

  .history {
    flex:2; 
  }
  
  /*artists*/
    .keyartists {
      background-color: black;
    }

      #artiststitle{
        color: black;
        font: 25pt "Poppy", sans-serif;
        font-weight: 900;
        background-color: rgb(74, 74, 231);
        padding: 8px;
        text-align: right;
      }

      .artists {
        font: 14pt "Futura PT", sans-serif;
        float: left;
        color: white;
        padding-top: 2vh;
      }
        @media only screen and (max-width: 1200px)
        {
          .artists
          {
            font: 12pt "Futura PT", sans-serif;
            height: fit-content;
            padding: auto;
          }

        }

/*For headers*/
  .bottom {
    background-color: rgb(30, 30, 161);
    height: 90vh;
    padding: 2vw;
  }
    @media only screen and (max-width: 1200px)
    {
      .bottom
      {
        width: auto;
        height: fit-content;
      }

    }
    @media only screen and (max-width: 800px)
    {
      .bottom
      {
        display: block; 
        width: auto;
        height: fit-content;
      }

    }

  .bottomtextcontainer {
    background-color: #E8E8E8;
    padding: 2vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: fit-content;
    min-height: 300px;
  }
    @media only screen and (max-width: 1200px)
    {
      .bottomtextontainer
      {
        display: block; 
        width: auto;
        height: fit-content;
      }

    }

  .bottomtitle{
    color: rgb(255, 217, 0);
    font: 25pt "Poppy", sans-serif;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
  }

  .influences {
    border: 10px, white;
  }

/* styling for the art gallery */
  #gallery {
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #gallerytitle {
    display: block;
    color: rgb(255, 217, 0);
    background-color: brown;
    font: 3.3em "Poppy", sans-serif;
    font-weight: 900;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
  }
    @media only screen and (max-width: 600px)
    {
        #gallerytitle
        {
        font: 2.3em "Poppy", sans-serif;
        font-weight: 900;
        }
    
    }

  #imagegallery {
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto auto;
    width: 75vw;
    height: fit-content;
    min-height: 500px;
    max-height: 1000px;
    border: solid 10px;
    margin: auto;
    padding: auto;
    padding-left: 8px;
    overflow: scroll;
    list-style: none;
    text-align: center;
  }
    @media only screen and (min-width: 1200px)
    {
        #imagegallery
        {
          display: grid;
          grid-template-rows: auto auto;
          grid-template-columns: auto auto auto;
        }
        .bgcontainer3{
          grid-column-start:1;
          grid-column-end:2;
          grid-row-start:1;
          grid-row-end:1;
        }
        .bgcontainer4{
          grid-column-start:3;
          grid-column-end:4;
          grid-row-start:1;
          grid-row-end:1;
        }
        
        .bgcontainer5{
          grid-column-start:2;
          grid-column-end:3;
          grid-row-start:1;
          grid-row-end:3;
        }
    }
    @media only screen and (max-width: 1200px)
    {
        #imagegallery
        {
          display: grid;
          grid-template-rows: auto auto;
          grid-template-columns: auto auto;
        }
        .bgcontainer3{
          grid-column-start:1;
          grid-column-end:2;
          grid-row-start:1;
          grid-row-end:1;
        }
        .bgcontainer4{
          grid-column-start:1;
          grid-column-end:2;
          grid-row-start:2;
          grid-row-end:2;
        }
        
        .bgcontainer5{
          grid-column-start:2;
          grid-column-end:3;
          grid-row-start:1;
          grid-row-end:3;
        }
    }
    @media only screen and (max-width: 900px)
    {
        #imagegallery
        {
        display: block;
        height: fit-content;
        }
    
    }

  .artwork{
    height: fit-content;
    justify-content: center;
  }

  .galleryart{
   display: block;
   justify-content: center;
   background-color: rgb(0, 0, 0);
   margin: 10px;
   padding: 10px;
   min-height: 200px;
   min-width: 300px;
   width: auto;
   height: auto;
  }

  img{
    width: 75%;
    height: auto;
    margin: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }

/* Styling for the list of references and related links */

  /* Styling for the list of references*/
    #references {
      height: auto; 
      margin: auto;
      margin-top: 30vw;
      margin-bottom: 30vw;
    }

    .referencelist a:hover {
      text-decoration: none;
      text-align: center;
      color: red;
      font: 16pt "Poppy", sans-serif;
      font-weight: 600;
    }
      @media only screen and (max-width: 1200px)
      {
        .referencelist a:hover
        {
          font: 13pt "Poppy", sans-serif;
          font-weight: 600;
          text-align: center;
        }

      }
      @media only screen and (max-width: 600px)
      {
        .referencelist a:hover
        {
          font: 12pt "Poppy", sans-serif;
          font-weight: 600;
          text-align: center;
        }

      }

    .referencelist {
      margin: auto;
      list-style: none;
      background-color: rgb(255, 217, 0);
      border: solid 10px;
      border-color: rgb(30, 30, 161);
      max-width: 75%;
      height: 45vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      min-height: 300px;
    }

  /* Styling for the related links */
    a:link {
      font: 16pt "Futura PT", sans-serif;
      text-decoration: none;
      color:black;
      text-align: center;
    }
      @media only screen and (max-width: 1200px)
      {
        a:link
        {
          font: 13pt "Futura PT", sans-serif;
          text-align: center;
        }

      }
      @media only screen and (max-width: 600px)
      {
        a:link
        {
          font: 12pt "Futura PT", sans-serif;
          text-align: center;
        }

      }

    a:visited {
      text-decoration: none;
      color: black;
      text-align: center;
      text-decoration: none;
    }

    .reflink {
      padding-top: 1vh;
    }
