/*General styling elements for the text*/
:root {
  --primary: #1a1a2e;
  --secondary: brown;
  --accent1: rgb(74, 74, 231);
  --accent2: rgba(137, 137, 137, 0.512);
  --accent3: #533483;
  --light: #f0f0f0;
  --dark: #121212;
  --transition: all 0.3s ease;

  --spacing-XXL:4rem;
  --spacing-XL:3rem;
  --spacing-L:2rem;
  --spacing-M:1.5rem;
  --spacing-S:1rem;
  --spacing-XS:0.5rem;
  --spacing-XXS:0.25rem;

  --herotitle-size:2.3rem;
  --pagetitle-size:1.5rem;
  --title-size:3.3rem;
  --subtitle-size:1.5rem;
  --card-title-size:1rem;
  --link-size:1rem;
  --p-size:1rem;
  --card-content-size:0.875rem;
  --small-content-size:0.875rem;

  --herotitle-weight:900;
  --pagetitle-weight:600;
  --title-weight:600;
  --subtitle-weight:600;
  --card-title-weight:600;

  --gap-med:32px;
  --gap-s:24px;
  --gap-xs:16px;
}

/* style reset to avoid weird behavior */
*{
  padding: 0;
  margin: 0;
  border-sizing: border-box;
} 

main, body{
  overflow: auto;
  min-height:100%;
  margin: 0px;
} 
body{
  height: 100vh;
}

main{
  align-items: center;
}

h1, h2, h3{
  font-family: "Poppy", sans-serif;
}

/*For headers*/
  h1 {
    font-size: var(--pagetitle-size);
    font-weight: var(--pagetitle-weight);
  }

  h2 {
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
  }


  h3 {
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    font-weight: 900;
  }

  h4{
    font: 20pt "Futura PT Book", sans-serif;
    background-color: rgb(255, 217, 0);
    color:rgb(176, 64, 64);
    text-align: center;
    margin: auto;
    margin-bottom:5vw;
    display: table;
  }

  h5{
    font: 14pt "Futura PT", sans-serif;
    color: rgb(176, 176, 176);
    padding: auto;
    text-align: center;
    display: inline;
  }
 
/*For body text elements*/ 

  p, .text {
    color:black ;
    font: var(--p-size) "Futura PT", sans-serif;
  }
  span{
    font: var(--small-content-size) "Futura PT", sans-serif;
  }

    @media only screen and (max-width: 1200px)
    {

    }

  .emphasized{
    color: rgb(222, 23, 23);
    font: 14pt "Poppy", sans-serif;
    font-weight: 600;
  }
    @media only screen and (max-width: 1200px)
    {
      .emphasized
      {
        font: 12pt "Poppy", sans-serif;
      }

    }

/*Styling elements for the main page that aren't boxes*/
  ul, figure{
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
  }

  ul {
    list-style: none;
  }



/* Styling for the header and footer bars */
  header { 
    position: sticky;
    top: 0px;
    background-color: black;
    text-align: center;
    margin: 0px;
  }  

  
  footer {
    position: static;
    background-color: black;
    text-align: center;

  }

/*styling for the big title portion*/
  #title {
    display: block;
    margin: 0px;
    padding-top: var(--spacing-XS);
    padding-bottom: var(--spacing-XS);
    margin-bottom: var(--spacing-XS);
    border-bottom: 2px solid var(--accent2);
  }

  .subtitle{
    margin-top: var(--spacing-XS);
    margin-bottom: var(--spacing-XS);
    padding-bottom: var(--spacing-XS);
    border-bottom: 2px solid var(--accent2);
  }

/* styling elements for navbar */
  nav ul {
    margin-block-start: none;
  }

  nav ul li{
    justify-content: center;
    margin: auto;
    padding: var(--spacing-S);
    display: inline-block;
  }
  ul li a:link, .gallery-link a:link{
    font: var(--link-size) "Futura PT", sans-serif;
  }

  nav ul li a:link {
    text-decoration: none;
    color: var(--light);
    text-align: center;
    padding-left: var(--spacing-XXS);
    padding-right: var(--spacing-XXS);
  }
  nav ul li a:hover {
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 3px;
    text-decoration: underline;
  }

  .navbar a:visited {
    text-decoration: none;
    color: white;
    text-align: center;
    text-decoration: none;
  }


  /* hero content */
  .hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    margin-top:2em;
    margin-bottom:2em;
    height:75vh;
    gap: var(--gap-med);
  }
  

  .hero h1{
    color:white;
    padding: var(--spacing-S);
    font-size: var(--herotitle-size);
    font-weight: var(--herotitle-weight);
    border-bottom-style: none !important;
  }

  .hero-aside{
    width: 540px;
    max-width: 640px;
    min-width: 300px;
    background-image: url("../Images/cardartwork/1a07be5b1ccb3800768729f80d977f3c.jpg");
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: end;
    height: 100%;
    margin: 0px;
    margin-bottom: none;
  }


  .hero-article{
    max-width: 540px;
  }

  img{
    width: 100%;
    height: auto;
  }

  
/* styling for boxes for the main body and or text elements containing the most info */
 
  /*For the larger horizontal container for the first few section*/
  .container {
    display: flex;
    height: 70vh;
    background-color: none;
    margin:10px;
    min-height: 490px;
    min-width: 390px;
  }  
    @media only screen and (max-width: 800px)
    {
      .container
      {
        display: block; 
        width: auto;
        height: fit-content;
      }

    }


section {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--spacing-XL);
  margin-bottom: var(--spacing-XL);
}

/* gallery */
/* .gallery-content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--gap-s);
  align-items: stretch;
  justify-content: center;
} */

.gallery-content, .artwork-info-content{
  display: grid;
  width: 100%;
  grid-gap: var(--gap-s);
  align-items: stretch;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gallery-card{
  min-width: 300px;
  width: 1fr;
}

.gallery-card h2{
  font-size: var(--card-title-size);
  font-weight: var(--card-title-weight);
  padding-top: var(--spacing-XXS);
  padding-bottom: var(--spacing-XXS);
}


.gallery-card figure{
  height: 216px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.gallery-card a:hover, .gallery-link a:hover{
  color: var(--secondary);
  text-decoration: underline;
}

.gallery-card img{
  width: 100%;
  height: auto;
  min-height: 216px;
}

.card-content{
  padding: var(--spacing-XXS);
  text-align: left;
}
.card-description-content{
  flex-direction: column;
  align-content: space-around;
  
}

.card-description-content p {
  font-size: var(--card-content-size);
}

.galleryartwork{
  width: 100%;
}

.galleryartwork h2{
  font-size: var(--p-size);
  font-weight: 100;
  padding-bottom: var(--spacing-XS);
  padding-top: var(--spacing-XS);
}

.gallery-aside{
  display: flex;
  object-fit: cover;
  max-height: 85vh;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.gallery-aside img{
  /* width:auto; */
}

.artwork-info-content{
  padding: var(--spacing-S);
}


.artwork-info-content .details p{
  max-width: fit-content;
  display: inline-block;
}

.detail-row {
  display: flex;
  gap: var(--spacing-XS);
  justify-content: space-between;
  max-width: 60%;
}

span {
  display: inline;
  white-space: pre-line;
}

  /* references */

  .references article, .artists article{
    display: flex;
    flex-direction: column;
    gap: var(--gap-s)
  }

  .article-img {
    object-fit: cover; 
    min-width: 300px;
    display: inline-flex;
  }

  .artists-article div{
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
  }

  .article-content{
    flex-direction: column !important;
    gap: var(--gap-s);
  }
  
  .links-list li:before {
    content: "•";
    color: var(--accent1);
  }

  .links-list li{
    margin-bottom: var(--spacing-XS);
    padding-left: var(--spacing-S);
  }

  .references ul li a {
    color: var(--accent1);
    text-decoration: none;
    transition: var(--transition);
  }

  .references ul li a:hover {
    color: var(--secondary);
    text-decoration: underline;
  }



@media only screen and (max-width: 600px)
    {
      .hero{
        flex-direction: column;
        justify-content: center;
        width:100%;
        padding-top:0px;
      }
      .hero-aside{
        width: 100%;
        max-width: 640px;
        min-width: 300px;
        height: 75vh;
        min-height: 300px;
      }

      .artists-article div{
        display: flex;
        flex-direction: column;
        gap: var(--gap-s);
      }

    }


/*For the containers nested inside the main container, contains the main content*/
  .subcontainer {
    flex:1; 
    background-color: rgba(171, 171, 171, 0.274);
    width: 100px;
    height: auto;
    padding: 10px;
    justify-content: center;
    min-height: 490px;
  }
    @media only screen and (max-width: 1000px)
    {
      .subcontainer
      {
      display: block;  
      width: auto;
      height: fit-content;
      }

    }

/*Further styling elements for the top two containers of the page*/ 

  .top{
    display: flex;
    height: fit-content;
  }
    @media only screen and (max-width: 1000px)
    {
      .top
      {
        display: block; 
        width: auto;
        height: fit-content;
      }

    }

  .history {
    flex:2; 
  }
  
  /*artists*/
    .keyartists {
      background-color: black;
    }

      #artiststitle{
        color: black;
        font: 25pt "Poppy", sans-serif;
        font-weight: 900;
        background-color: rgb(74, 74, 231);
        padding: 8px;
        text-align: right;
      }

     
/*For headers*/
  .bottom {
    background-color: rgb(30, 30, 161);
    height: 90vh;
    padding: 2vw;
  }
    @media only screen and (max-width: 1200px)
    {
      .bottom
      {
        width: auto;
        height: fit-content;
      }

    }
    @media only screen and (max-width: 800px)
    {
      .bottom
      {
        display: block; 
        width: auto;
        height: fit-content;
      }

    }

  .bottomtextcontainer {
    background-color: #E8E8E8;
    padding: 2vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: fit-content;
    min-height: 300px;
  }
    @media only screen and (max-width: 1200px)
    {
      .bottomtextontainer
      {
        display: block; 
        width: auto;
        height: fit-content;
      }

    }

  .bottomtitle{
    color: rgb(255, 217, 0);
    font: 25pt "Poppy", sans-serif;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
  }

  .influences {
    border: 10px, white;
  }

/* styling for the art gallery */
  #gallery {
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #gallerytitle {
    display: block;
    color: rgb(255, 217, 0);
    background-color: brown;
    font: 3.3em "Poppy", sans-serif;
    font-weight: 900;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
  }
    @media only screen and (max-width: 600px)
    {
        #gallerytitle
        {
        font: 2.3em "Poppy", sans-serif;
        font-weight: 900;
        }
    
    }

  #imagegallery {
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto auto;
    width: 75vw;
    height: fit-content;
    min-height: 500px;
    max-height: 1000px;
    border: solid 10px;
    margin: auto;
    padding: auto;
    padding-left: 8px;
    overflow: scroll;
    list-style: none;
    text-align: center;
  }
    @media only screen and (min-width: 1200px)
    {
        #imagegallery
        {
          display: grid;
          grid-template-rows: auto auto;
          grid-template-columns: auto auto auto;
        }
        .bgcontainer3{
          grid-column-start:1;
          grid-column-end:2;
          grid-row-start:1;
          grid-row-end:1;
        }
        .bgcontainer4{
          grid-column-start:3;
          grid-column-end:4;
          grid-row-start:1;
          grid-row-end:1;
        }
        
        .bgcontainer5{
          grid-column-start:2;
          grid-column-end:3;
          grid-row-start:1;
          grid-row-end:3;
        }
    }
    @media only screen and (max-width: 1200px)
    {
        #imagegallery
        {
          display: grid;
          grid-template-rows: auto auto;
          grid-template-columns: auto auto;
        }
        .bgcontainer3{
          grid-column-start:1;
          grid-column-end:2;
          grid-row-start:1;
          grid-row-end:1;
        }
        .bgcontainer4{
          grid-column-start:1;
          grid-column-end:2;
          grid-row-start:2;
          grid-row-end:2;
        }
        
        .bgcontainer5{
          grid-column-start:2;
          grid-column-end:3;
          grid-row-start:1;
          grid-row-end:3;
        }
    }
    @media only screen and (max-width: 900px)
    {
        #imagegallery
        {
        display: block;
        height: fit-content;
        }
    
    }

  .artwork{
    height: fit-content;
    justify-content: center;
  }

  .galleryart{
   display: block;
   justify-content: center;
   background-color: rgb(0, 0, 0);
   margin: 10px;
   padding: 10px;
   min-height: 200px;
   min-width: 300px;
   width: auto;
   height: auto;
  }





/* Styling for the list of references and related links */

  /* Styling for the list of references*/
    #references {
      height: auto; 
      margin: auto;
      margin-top: 30vw;
      margin-bottom: 30vw;
    }

    .referencelist a:hover {
      text-decoration: none;
      text-align: center;
      color: red;
      font: 16pt "Poppy", sans-serif;
      font-weight: 600;
    }
      @media only screen and (max-width: 1200px)
      {
        .referencelist a:hover
        {
          font: 13pt "Poppy", sans-serif;
          font-weight: 600;
          text-align: center;
        }

      }
      @media only screen and (max-width: 600px)
      {
        .referencelist a:hover
        {
          font: 12pt "Poppy", sans-serif;
          font-weight: 600;
          text-align: center;
        }

      }

    .referencelist {
      margin: auto;
      list-style: none;
      background-color: rgb(255, 217, 0);
      border: solid 10px;
      border-color: rgb(30, 30, 161);
      max-width: 75%;
      height: 45vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      min-height: 300px;
    }

  /* Styling for the related links */
    a:link {
      font: 16pt "Futura PT", sans-serif;
      text-decoration: none;
      color:black;
      text-align: center;
    }
      @media only screen and (max-width: 1200px)
      {
        a:link
        {
          font: 13pt "Futura PT", sans-serif;
          text-align: center;
        }

      }
      @media only screen and (max-width: 600px)
      {
        a:link
        {
          font: 12pt "Futura PT", sans-serif;
          text-align: center;
        }

      }

    a:visited {
      text-decoration: none;
      color: black;
      text-align: center;
      text-decoration: none;
    }

    .reflink {
      padding-top: 1vh;
    }
